Thông tin dự đoán:
\===============================================

Nhà đầu tư: #{@user.display_name}
Đội vô địch: #{@team.title_vi}
URL: #{link_to predict_champion_url, predict_champion_url}

\===============================================