Cập nhật thông tin dự đoán:
\===============================================

Nhà đầu tư: #{@user.display_name}
Trận: #{@match_content}
URL: #{link_to match_url(@game.id), match_url(@game.id)}
Các tỉ số: #{@score_content}

\===============================================