Hi, #{@user.full_name}
\===============================================

Your account has been created,
here is your password: #{@password}

To login to the site, just follow this link: #{@url}.

Thank you!