!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      table.list-bet-scores td {
        border-collapse: collapse;
        padding: 5px 10px;
        vertical-align: top;
      }
      table.list-bet-scores td strong {
        line-height: 20px;
      }
  %body
    Test!!!