!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi, #{@user.full_name}
    %p
      Your account has been created,
      here is your password:
      %strong= @password
      %br/
    %p
      To login to the site, just follow this link: #{link_to @url, @url}.
    %p Thank you!