- if current_user.not_enough_condition_to_predict_champion?
  %p.text-desc Bạn không có đủ điều kiện để tham gia dự đoán đội vô địch.
- else
  %h5 Đội vô địch
  .underline.hidden-sm.hidden-xs
  - current_user.predict_champions.has_team.order_asc.each do |item|
    - team = item.team
    %p{class: team.eliminated ? 'eliminated' : ''}
      %span.team-flag
        %img.wc-flag{alt: team.try(:code), src: "/flags_euro2020/#{team.try(:key) || 'placeholder'}.png", title: team.try(:code)}/
      %span.your-champion-predicted= team.title_vi
      %span.italic.text-desc.m-l-sm
        (Có
        %span.number-people-same-predict= PredictChampion.same_chosen(current_user.id, team.id).size
        người dự đoán đội vô địch giống bạn)
