%h5 Đội vô địch
.underline.hidden-sm.hidden-xs
%p
  %span.flag-ENG.team-flag
  %span.your-champion-predicted Anh
  %span.italic.text-desc.m-l-sm
    (Có
    %span.number-people-same-predict 7
    người dự đoán đội vô địch giống bạn)