/ Main content
.content
  %section.section
    .container-fluid
      .section--content.clearfix
        .row
          .grid-box.col-xs-12.col-sm-12.col-md-10.col-lg-10.col-md-offset-1
            = render "shared/total_money_for_final"
            %header.box-header
              %h2.section--title.bigTitle
                Matches
            .box-content.clearfix
              %h3.match--date
                %span.js-tolocaltime.match--score_time
                  20 June 2016
              .matches
                .match-row.match-row--horizontal.match-finalTrn.match-groupStage.match-notFake
                  %a.match-row_link{:href => "/uefaeuro/season=2016/matches/round=2000448/match=2017893/index.html"}
                    .match-row_info
                      .match-row_info-wrap
                        .match-data-round
                          %span.round-name
                            Group stage
                    .match.match-row_match
                      .team-home
                        .team-code
                          SUI
                        .team-name
                          %span.team-name_name Switzerland
                        %span.team-flag.flag-SUI
                      .text-center.match--score
                        %span.match--score_time 03:00
                        %span.match--score_score
                          %span.js-team--home-score> 0
                          \-
                          %span.js-team--away-score 0
                      .team-away.match--looser
                        %span.team-flag.flag-FRA
                        .team-code
                          FRA
                        .team-name
                          %span.team-name_name France
                  %a.match-row_group{href: "javascript:;"}
                    .match-group
                      %span.group-label
                        Group
                      %span.group-name A