= form_tag predict_score_match_path(game), method: :post, remote: true, class: 'form-horizontal user-predict-score--form' do
  .form-group
    .col-xs-12.col-md-6
      = select_tag "match[score_ids]", options_for_select(Score.all.collect{|s|[s.name, s.id]}, current_user.get_bet_info_on_match(game.id).try(:score_ids)), multiple: true, class: 'form-control select-scores', autofocus: true
    .col-xs-12.col-md-6.actions
      %button.btn.btn-secondary.submit-btn-custom{type: 'submit'}= is_edit ? "Cập nhật" : "Gửi"