@font-face {
  font-family: 'robotoB';
  src: url('RobotoCondensed-Bold.eot');
  src: local('â˜º'),
  url('RobotoCondensed-Bold.ttf') format('truetype'),
  url('RobotoCondensed-Bold.woff') format('woff'),
  url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
}
@font-face {
  font-family: 'robotoR';
  src: url('RobotoCondensed-Regular.eot');
  src: local('â˜º'),
  url('RobotoCondensed-Regular.ttf') format('truetype'),
  url('RobotoCondensed-Regular.woff') format('woff'),
  url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
}
body{
  font-family: 'robotoR',Helvetica,Arial,sans-serif;
}
.uefa-link, .uefa-link:focus{
  color: #fff;
}
.money-for-final{
  margin-bottom: 40px;
}
.match--score_time{
  font-size: 120%;
}
.match--score_score{
  font-size: 150%;
}
.grid-box .box-header{
  margin: 0 !important;
}
.match--score_score{
  color: #111 !important;
}
.submit-login-btn{
  clear: both;
  background-color: #007cba;
  border-color: #007cba;
  color: #FFF;
}
.submit-login-btn:hover{
  background-color: #65beec;
  border-color: #65beec;
  color: #FFF;
}