@font-face {
  font-family: 'robotoB';
  src: font-url('RobotoCondensed-Bold.eot');
  src: local('â˜º'),
  font-url('RobotoCondensed-Bold.ttf') format('truetype'),
  font-url('RobotoCondensed-Bold.woff') format('woff'),
  font-url('RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
}
@font-face {
  font-family: 'robotoR';
  src: font-url('RobotoCondensed-Regular.eot');
  src: local('â˜º'),
  font-url('RobotoCondensed-Regular.ttf') format('truetype'),
  font-url('RobotoCondensed-Regular.woff') format('woff'),
  font-url('RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
}
body{
  font-family: 'robotoR',Helvetica,Arial,sans-serif;
}
.m-t{
  margin-top: 15px;
}
.m-t-sm{
  margin-top: 10px;
}
.m-t-xlarge{
  margin-top: 50px;
}
.m-b{
  margin-bottom: 15px;
}
.m-b-large{
  margin-bottom: 25px;
}
.m-b-xlarge{
  margin-bottom: 50px;
}
.m-b-xs{
  margin-bottom: 5px;
}
.m-l-xs{
  margin-left: 5px;
}
.m-l-sm{
  margin-left: 10px;
}
.m-l-large{
  margin-left: 20px;
}
.cursor-pointer{
  cursor: pointer;
}
.hide{
  display: none;
}
.audio-section{
  display: none;
  height: 0;
  width: 0;
}
.stat-tbl-current{
  border: 2px dotted #ccc;
}
.points-can-receive{
  font-size: 120%;
}
.score-larger{
  font-size: 120%;
}
.number-larger{
  font-size: 140%;
}
.uefa-link, .uefa-link:focus{
  color: #fff;
}
.money-for-final{
  margin-bottom: 40px;
}
.match--score_time{
  font-size: 120%;
}
.match--score_score{
  font-size: 150%;
}
.grid-box .section--title.bigTitle {
  margin-bottom: 0 !important;
}
.match--score_score{
  color: #111 !important;
}
.submit-btn-custom{
  clear: both;
  background-color: #007cba;
  border-color: #007cba;
  color: #FFF;
}
.submit-btn-custom:hover{
  background-color: #65beec;
  border-color: #65beec;
  color: #FFF;
}
.block{
  display: block !important;
}
.clear-both{
  clear: both;
}
.form-control{
  height: 40px !important;
  border: 1px solid #65beec;
}
.error-content{
  padding: 15px 10px;
  margin: 0 0 20px 0;
  background: none repeat scroll 0 0 #ffd9d9;
  box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  font-size: 1.1em;
  ul{
    color: #111;
  }
}

.uppercase{
  text-transform: uppercase;
}

.deadline-section{
  text-align: center;
  margin: -10px 0 20px 0;
  font-size: 18px;
  .deadline-time{
    font-family: robotoB;
    font-size: 20px;
  }
}
.deadline-predict{
  font-family: robotoB;
}

#match_detail{
  .match-row{
    border-top: none !important;
    .match-row_match{
      width: 50% !important;
      margin-left: 25% !important;
      .team-name_name{
        font-size: 130%;
        color: #111;
        font-weight: 400;
      }
      .match--winner{
        .team-name_name{
          color: blue !important;
        }
      }
    }
  }
  .admin-actions{
    text-align: center;
    margin-top: 20px;
    a{
      width: 200px;
    }
  }
  .underline {
    display: block;
    width: 30px;
    border-bottom: 3px solid #007cba;
    margin: 5px 0 10px;
  }
  .total-money-bet{
    color: red;
    font-weight: 800;
    font-size: 24px;
  }
}

.statistic-detail-wrap{
  margin-bottom: 30px;
  .money-detail-table{
    margin-top: 10px;
  }
}

.result-detail-wrap{
  .money-win{
    color: blue;
    font-size: 120%;
  }
}

.list-better-tbl>tbody>tr>td{
  padding: 8px 10px;
}

.list-better-tbl td.no-team{
  padding: 10px !important;
}

.bet-result-tbl>tbody>tr>td{
  padding: 8px 10px;
}
.eliminated{
  text-decoration: line-through;
  opacity: 0.5;
}

.middle{
  vertical-align: middle !important;
}
.current-user{
  font-weight: bold;
  color: #1D7CF2;
}
.text-desc{
  color: #767676;
}
.select-scores{
  height: 40px;
  border: 1px solid #65beec;
}
.your-score-betted{
  color: #1D7CF2;
  font-weight: 500;
  font-size: 25px;
}
.your-champion-predicted{
  color: #1D7CF2;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 5px;
}
.current-user-score{
  color: #1D7CF2;
  font-weight: 700;
}
.number-people-same-predict{
  font-size: 18px;
  color: #00868B;
}
.staff-display-name{
  color: #00688B;
  font-size: 120%;
}
.italic{
  font-style: italic;
}
.bold-text{
  font-weight: bold;
}
.title-text{
  min-width: 200px;
  display: inline-block;
}
.total-money-for-final{
  font-size: 60px;
  color: blue;
  font-weight: bold;
}
.manage-link{
  color: rgb(229, 193, 104) !important;
}
.admin-update-score--select{
  width: 140px;
}
.highlight-div .highlight-column{
  color: blue;
  font-weight: bold;
}
#statistic_detail_staff{
  padding: 0 40px;
  .total-profits{
    font-size: 130%;
  }
  .money-gain{
    color: #458B00;
  }
  .money-lost{
    color: #FF3030;
  }
}
.staffs-predict-champion-table .table > tbody > tr > td{
  padding: 6px 10px;
}
.users-management-table, .matches-management-table{
  .table>tbody>tr>td{
    padding: 12px 10px;
  }
}
#statistic_all_staffs, #statistic_detail_staff{
  padding: 0 20px;
  .statistics-table .table>tbody>tr>td{
    padding: 12px 10px;
  }
  .statistics-table .table > thead > tr > th{
    font-weight: bold;
  }
  .statistics-table .table > tbody > tr{
    cursor: pointer;
  }
  tr.top1 td{
    font-weight: bold;
    color: blue;
  }
  tr.bottom1 td{
    font-weight: bold;
    color: red;
  }
}
.table {
  a.not-current-user{
    color: #111;
    &:hover{
      color: #65beec;
    }
  }
}
.user-predict-score--form, .admin-import-scores--form, .match-update-score--form, .user-predict-champion--form{
  .select2-selection--multiple{
    height: 40px !important;
    border: 1px solid #65beec;
    .select2-selection__choice{
      margin-top: 10px;
      font-size: 16px;
    }
    .select2-search__field{
      margin-top: 10px;
    }
  }
  .select2-selection--single{
    height: 40px !important;
    border: 1px solid #65beec;
    .select2-selection__rendered{
      line-height: 38px;
    }
    .select2-selection__arrow{
      height: 40px;
    }
  }
}
.user-info-section{
  display: none;
  margin-top: 16px;
  float: left;
  margin-left: -3px;
  .user-info-wrapper{
    display: block;
    text-align: left;
    border-radius: 3px;
    width: auto;
    height: auto;
    padding: 8px 16px;
    background-color: rgba(255,255,255,.3);
    font-size: 16.38px;
    font-weight: 500;
    font-style: normal;
    color: #FFF;
    .user-info-content{
      display: table-cell;
      vertical-align: middle;
      height: 24px;
      line-height: 1;
    }
  }
  a{
    color: yellow;
  }
  a:hover{
    color: #fff;
  }
  .user-log-out{
    font-size: 80%;
    font-style: italic;
    a{
      color: #fff !important;
    }
  }
}

@media (min-width: 960px){
  .user-info-section{
    margin-top: 32px;
    margin-left: 0;
    .user-info-wrapper{
      display: block;
      width: 100%;
      text-align: left;
      height: 32px;
      height: auto;
      border-radius: 0;
      .user-info-content{
        display: table-cell;
        vertical-align: middle;
        height: 32px;
        line-height: 1;
      }
    }
  }
}